.App {
  text-align: center;
}

.demo img {
  width: 100%;
  height: auto;
}

h2, h3, h4 {
  line-height: 1.5em;
  color: #54337C;
}

ul {
  list-style: none;
  padding-left: 20px;
}

li {
  position: relative;
  padding-left: 30px;
  font-size: 1.2em;
}

li::before {
  content: '\2713'; /* Unicode character for a tick */
  color: #54337C;; /* Customize the tick color */
  font-size: 16px; /* Customize the tick size */
  position: absolute;
  left: 0;
  top: 0;
}



@media (max-width: 767px) {
  .mobile-hidden {
    display: none;
  }
}