.App {
  text-align: center;
}

.demo img {
  width: 100%;
  height: auto;
}

h2, h3, h4 {
  line-height: 1.5em;
  color: #54337C;
}

ul {
  list-style: none;
  padding-left: 20px;
}

li {
  position: relative;
  padding-left: 30px;
  font-size: 1.2em;
}

li::before {
  content: '\2713'; /* Unicode character for a tick */
  color: #54337C;; /* Customize the tick color */
  font-size: 16px; /* Customize the tick size */
  position: absolute;
  left: 0;
  top: 0;
}
/* Form */
.section_form {
  background-image: url('./img/form_bg.png'); /* Replace with the path to your image */
  background-size: cover; /* Adjust the background size as needed */
  height: 500px;
  padding: 100px;
  
}

.section_form-form {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgb(168, 168, 168);
  border-radius: 10px;
  padding: 30px;
}

.form_button {
  background-color: #54337C;
  color: white;
  padding: 3px 10px;
  border: 5px solid #54337C;
  border-radius: 5px;
}

.form_button:hover {
  background-color: hsl(267, 42%, 29%);
  border: 5px solid hsl(267, 42%, 29%);
}
/* ====================================================== */

@media (max-width: 767px) {
  .mobile-hidden {
    display: none;
  }
}